<% include ../layout %>

    <section>

        <form style="color: black" action="edit" method="post">
            <label for="equipment_name">
                <div>
                    Name of Equipment:
                    <input type="text" name="equipment_name" value="<%=equipment.equipment_name%>">
                </div>
            </label>
            <label for="batch_id">
                <p></p>
                <div>
                    Batch ID:
                    <input type="text" name="batch_id" value="<%=equipment.batch_id%>">
                </div>
            </label>
            <label for="clean">
                <div>
                    <p></p>
                    Yes
                    <input type="radio" name="clean" value="yes" checked="checked"> No
                    <input type="radio" name="clean" value="no">
                </div>
            </label>
            <label for="clean_time">
                <div>
                    <p>How long does it take to clean?</p>
                    <input type="number" name="cleaning_time" value="<%=equipment.clean_time%>"> minutes
                </div>
            </label>
            <label for="cleaning_notes">
                <div>
                    <p>
                        Please leave cleaning instructions/notes here:
                    </p>
                    <textarea name="cleaning_notes" cols="50" rows="10">
                        <%=equipment.clean_notes%>
                    </textarea>
                </div>
            </label>
            <button type="submit" name="submit">Submit</button>
        </form>
    </section>
