<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Equipment</title>
  </head>
  <body>
    Here is a list of all your equipment
    <%for(i=0;i<equipment.length;i++){%>
      <p><%=equipment[i].equipment_name%></p>
    <%}%>
    <form class="" action="/equipment/add" method="get">
      <button type="submit" name="button">Add a Piece of Equipment</button>

    </form>
  </body>
</html>
