<!DOCTYPE html>
<html>
  <head>
    <title>what</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>No</h1>
    <p>You are not logged in</p>
  </body>
</html>
