<% include ../layout %>
<section>
  <div class="header-content">
    <form action='/beer' method=post>
      <p>
      Type: <input type="text" name="type" value=<%=template.type%> class="inputText"></input>
      </p>
      <p>
      Style: <input type="text" name="type" value=<%=template.style%> class="inputText"></input>
      </p>
      <
    </form>
  </div>
</section>
