<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel='stylesheet' href='/stylesheets/beer.css' />
  </head>
  <body>

  <a href="/beer/create">Add New Beer</a>
  <div>
    
  </div>
  </body>
</html>
