<% include ../layout %>
<!-- <div class="container"> -->
  <div class="row">
    <div class="input-append">
      <div class="col-md-12 text-center">
        <input id="buttonBeer" class="btn" type="button" name="name" value="Submit">
        <input id="inputBeer" class="" type="text" name="beername" value="" placeholder="search for beer">
      </div>
    </div>
  </div>
<!-- </div> -->
<section>
<div class="container margin-containers">
    <div class="row">
      <div id='col1' class="col-sm-4">
      </div>
      <div id='col2' class="col-sm-4">
      </div>
      <div id='col3' class="col-sm-4">
      </div>
    </div>
  </div>
</section>
<script src="../googleMaps/create.js"  type="text/javascript"></script>
