<% include ../layout %>

<section>
<div class="container">
  <div class="row">
    <input class="btn" id="buttonBeer" type="button" name="name" value="Submit">
    <input id="inputBeer" type="text" name="beername" value="" placeholder="search for beer">
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
            <%for(var i=0; i<defaults.length; i++){%>
                <div>
                  <a href=<%= 'create/'+i%>><%=defaults[i].type%></a>
                    <p>Style: <%= defaults[i].style%></p>
                      <p><%= defaults[i].description %></p>
                  </div>
                      <%}%>
      </div>
      <div class="col-sm-4">
        One of three columns
      </div>
      <div class="col-sm-4">
        One of three columns
      </div>
    </div>
  </div>
</section>
<script src="../googleMaps/create.js"  type="text/javascript"></script>
