<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel='stylesheet' href='/stylesheets/beer.css' />
  </head>
  <body>

    <%for(var i=0; i<defaults.length; i++){%>
      <div>
        <a href=<%= 'create/'+i%>><%=defaults[i].type%></a>
        <p>Style: <%= defaults[i].style%>
        </p>
        <p><%= defaults[i].description %>
        </p>
      </div>
    <%}%>
  </div>
  </body>
</html>
