<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel='stylesheet' href='/stylesheets/beer.css' />
  </head>
  <body>

  <a href="/beer/create">Add New Beer</a>
  <div>
    <p>Name: <%= beers[0].beer_name%>
    </p>
    <p>Type: <%=beers[0].type%>
    </p>
    <p>Syle: <%=beers[0].style%>
    </p>
  </div>
  </body>
</html>
