<form action="/batch/time" method="post">
  <label for="end_date">End Date</label>
  <input type="date" name="end_date" value="<%= Date() %>">
  <label for="expected_yield">Expected Yield</label>
  <input type="submit" value=">">
</form>
