<% include ../layout %>

    <section>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Main PAge</h1>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="firstPageStyle/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="firstPageStyle/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


</body>

</html>
